@font-face{
    font-family: "ChaletLondonNineteenSixty";
    src: url("/fontes/ChaletLondonNineteenSixty.ttf")
    
    
}

@font-face{
    font-family: "ChaletComprime";
    src: url("/fontes/ChaletComprime.ttf")
    
    
}