body{
    background-color: #000;
    background-size: cover;
    color: #fff;
}

/* Estilo para a seção nova-musica */
.nova-musica {
    position: relative;
    overflow: hidden;
}

  /* Estilo para o vídeo como background */
.imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto; /* Definido para tamanho original */
    height: auto; /* Definido para tamanho original */
    min-width: 100%; /* Garante que o vídeo cubra toda a largura */
    min-height: 100%; /* Garante que o vídeo cubra toda a altura */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.nova-musica .imagem-fundo{
    opacity: 0.3;
}

  /* Estilo para o conteúdo */
.cartao {
    position: relative;
    z-index: 1; /* Mantém o conteúdo sobreposto ao vídeo */
    padding: 20px;
}

.cabecalho{
   
    height: 80px; /* Da uma altura max para o cabeçalho*/
    display: flex;  /* Coloca os items um do lado do outro*/
    justify-content: space-between; /* Espaço entre os filhos*/
    align-items: center; /* Alinhar os itens no centro */
    padding: 0 80px  0 80px; /* Espaçamento interno de todos os elementos(Sentido Horario), Cima: 0   Direita: 80   Em baixo: 0  Esquerda: 80 */
}

.cabecalho .logo{
   display: flex;  /* Coloca os items um do lado do outro*/
   gap: 15px; /* Espaçamento de 30 px*/
}

.cabecalho .logo img{
    width: 150px;
   
}


.cabecalho .menu{
    display: flex; /* Coloca os items um do lado do outro*/
    gap: 30px; /* Espaçamento de 30 px*/
}

.cabecalho .menu li a{
    padding: 30px; /* Espaçamento interno */
    color: #ffffff; /* Cor da Fonte */
    font-weight:lighter; /* Fonte forte */
    font-size: 15px; /* Tamanho da fonte*/
    font-family: "BebasNeueRegular"; /* Fonte estilo*/
    letter-spacing: 2px;
    transition: 0.5s all ease-in-out;
}

.cabecalho .menu li a:hover{
    color: #aaaaaa;
    border-bottom: #ffffff 1px solid;
}

.home{
    display: flex; /* Coloca os items um do lado do outro*/
    position: relative; /* Adiciona uma posição */
    min-height: calc(100vh - 80px) ; /* Altura minima */

}

.home::after{
    background-color: blue; /* Cor de Fundo */
    content: "";
    position: absolute; /* absolute: muda o fluxo e tras a imagem pra frente de todos os elementos */
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%); /* Adiciona um efeito de sombra */
    content: "";
    position: absolute; /* absolute: muda o fluxo e tras a imagem pra frente de todos os elementos */
    height: 100%; /* Define uma altura */
    width: 100%; /* Define uma largura */
}

.home .imagem-fundo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.home .informacoes{
    position: absolute; /* absolute: muda o fluxo e tras a imagem pra frente de todos os elementos */
    z-index: 1;
    min-height: calc(100vh - 80px); /* Altura maxima */
    display: flex; /* Coloca os items um do lado do outro*/
    flex-direction: column;
    justify-content: center; /* Centraliza no eixo vertical*/
    gap: 32px;
    padding: 80px 80px 80px 80px;
    max-width: 680px;
}

.home .informacoes img{
    max-width: 150px; /* largura maxima */
}

.home .informacoes .lista-de-jogos{
    display: flex;
    gap: 32px;

}

.home .informacoes .titulo{
    font-family: "BebasNeueRegular";
    font-size: 55px;
    letter-spacing: 2px;
}

.home .informacoes .texto{
    font-family: "BebasNeueRegular";
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.6;
}

.btn-comprar, .btn-plataforma{
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: "BebasNeueRegular";
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-comprar-home{
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #fff;
    border-radius: 20px;
    font-family: "BebasNeueRegular";
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s ease-in;
}

.btn-comprar-home:hover{
    background-color: #fff;
    color: #000;
}

.btn-plataforma{
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.btn-plataforma:hover{
    background-color: #fff;
    color: #000;
}

.btn-comprar:hover{
    background-color: #fff;
    color: #000;
}

.nova-musica{
    background-color: #302828;
    background: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    font-family: "BebasNeueRegular";   
    letter-spacing: 4px;                                      
    align-items: center; 
}

.nova-musica .titulo{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.nova-musica .cartao{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 40px;
    gap: 40px;  
}

.nova-musica .informacoes{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.nova-musica .informacoes h3{
    font-size: 50px;
    font-weight: 700;
}

.nova-musica .informacoes p{
    color: #e8e8e8;
    font-size:  25px;
    font-weight: 20px;
    line-height:  1.6;
}

.nova-musica .informacoes .plataformas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.nova-musica .btn-plataforma  .plataformas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in;
    display: none;
    opacity: 0;
}

.nova-musica .btn-plataforma  .plataformas li img{
    width: 200px;
}
.nova-musica .btn-plataforma .plataformas.ativo{
    display: flex;
    opacity: 1;
}

.nova-musica .btn-plataforma .plataformas li{
    padding: 20px; 
}

.nova-musica  .btn-plataforma .plataformas li:nth-child(1){
    border: 1px solid #00439c;
}

.nova-musica  .btn-plataforma .plataformas li:nth-child(1):hover{
    background-color: #00439c;
    transition: 1s;
}
.nova-musica  .btn-plataforma .plataformas li:nth-child(2){
    border: 1px solid #387a26;
}

.nova-musica  .btn-plataforma .plataformas li:nth-child(2):hover{
    background-color: #387a26;
    transition: 1s;
}

.nova-musica .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #00439c;
}

.nova-musica .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: #00439c;
    transition: 1s;
}

.last-evolution-box{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.last-evolution .last-evolution-box img{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.2;
}

.last-evolution .last-evolution-box .last-evolution-video{
    width: 100%;
    height: 100%;
    opacity: 0.3;
   
}

.informacoes-LE {
    position: absolute;
    font-family: "ChaletComprime";
    letter-spacing: 2px;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.last-evolution .last-evolution-box .botao-last-evolution{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-family: "ChaletComprime";
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    padding: 20px 60px;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s ease-in;
}

.last-evolution .last-evolution-box .botao-last-evolution:hover{
    background-color: #fff;
        color: #000;
}







