* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

body{
    background-color: #000;
}

.imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Definido para tamanho original */
    height: auto; /* Definido para tamanho original */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
    opacity: 0.3;
}

.cabecalho{
    height: 80px; /* Da uma altura max para o cabeçalho*/
    background-color: #000;
    display: flex;  /* Coloca os items um do lado do outro*/
    justify-content: space-between; /* Espaço entre os filhos*/
    align-items: center; /* Alinhar os itens no centro */
    padding: 0 80px  0 80px; /* Espaçamento interno de todos os elementos(Sentido Horario), Cima: 0   Direita: 80   Em baixo: 0  Esquerda: 80 */
}

.cabecalho .logo{
   display: flex;  /* Coloca os items um do lado do outro*/
   gap: 15px; /* Espaçamento de 30 px*/
}

.cabecalho .logo img{
    width: 150px;
   
}

.cabecalho .menu{
    display: flex; /* Coloca os items um do lado do outro*/
    gap: 30px; /* Espaçamento de 30 px*/
}

.cabecalho .menu li a{
    padding: 30px; /* Espaçamento interno */
    color: #ffffff; /* Cor da Fonte */
    font-weight:lighter; /* Fonte forte */
    font-size: 15px; /* Tamanho da fonte*/
    font-family: "ChaletLondonNineteenSixty"; /* Fonte estilo*/
    transition: 0.5s all ease-in-out;
}

.cabecalho .menu li a:hover{
    color: #aaaaaa;
    border-bottom: #ffffff 1px solid;
}

.title_text{
    color: #ffffff;
    font-size: 30px;
    font-family: "ChaletComprime";
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 50vh ; 
    position: relative;   
}

.title_text p{
    font-family: "ChaletComprime";
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 30px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 700px; /* Altura ajustável */
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha para os cartões */
    justify-content: start;
    
}

.card {
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px; /* Ajuste de margem horizontal */
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    flex-shrink: 0; 
}

.container .card {
    margin-bottom: 20px; /* Espaçamento entre os cartões */
}
.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.card:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .description a:hover p {
    border-bottom: 1px white solid;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('/src/background_song/BatterUp_bg.png');
}
.card[for="c2"] {
    background-image: url('/src/background_song/SITM_bg.png');
}
.card[for="c3"] {
    background-image: url('/src/background_song/sheshh.jpg');
}
.card[for="c4"] {
    background-image: url('/src/background_song/likethat.jpg');
}
.card[for="c5"] {
    background-image: url('/src/background_song/monster.jpg');
}
.card[for="c6"] {
    background-image: url('/src/background_song/sheshh.jpg');
}

